.rounded-box {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  margin: 48px 0;
  border: 1px solid $border-grey;
}

.post-byline div {
  display: inline-block;
}

// Post styling

.postimage {
  margin-top: 24px;
  height: 480px;
  background-size: cover;
  background-position: center;;
}
.entry-content, .entry-summary, .entry-footer, .comments-area{
  padding: 24px;
}

.entry-header {
  padding: 24px 24px 0;
}

.entry-meta {
  padding-top: 12px;
  color: $byline-grey;
  a {
    color: $byline-grey;
  }
}

.posted-on:before {
  content: '\e802';
  font-family: "fontello";
  margin-left: 3px;
  margin-right: 5px;
}
.byline:before {
  content: '\e801';
  font-family: "fontello";
  margin-left: 24px;
  margin-right: 3px;
}
.category:before {
  content: '\e803';
  font-family: "fontello";
  margin-left: 24px;
  margin-right: 3px;
}

.continue {
  display: block;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid $border-grey;
  color: $byline-grey;
  transition: color 0.3s ease-out;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  
}

// No Result Page Styling

.not-found {
    padding: 24px;
}

.not-found-error {
  padding: 24px 0;
}


//Page Navigation Styling

.nav-links div{
  display: inline-block;
}

.button {
  border-radius: 4px;
  background-color: white;
  padding: 12px 24px;
  border: 1px solid $border-grey;
}

// Sidebar styling

.widget {
  padding: 24px;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding: 12px 0;
  }
}

.widget-title, .widgettitle {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $border-grey;
}

select {
  border-radius: 4px;
  border: 1px solid $border-grey;
  padding: 12px 60px 12px 12px;
}

select[name="archive-dropdown"]{
  margin: 12px 0;
}
//.tagcloud {
//  a { font-size: 12px;}
//  display: inline-block;
//}