.rounded-box {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  margin: 40px 0;
}

.post-byline div {
  display: inline-block;
}

// Post styling

.entry-header, .entry-content, .entry-footer {
  padding: 20px;
}

.posted-on:before {
  content: '\e802';
  font-size: 1rem;
  font-family: "fontello";
  margin-left: 3px;
  margin-right: 5px;
}
.byline:before {
  content: '\e801';
  font-size: 1rem;
  font-family: "fontello";
  margin-left: 8px;
  margin-right: 3px;
}
.category:before {
  content: '\e803';
  font-size: 1rem;
  font-family: "fontello";
  margin-left: 8px;
  margin-right: 3px;
}





//Page Navigation Styling

.nav-links div{
  display: inline-block;
}

.button {
  border-radius: 4px;
  background-color: white;
  padding: 10px 20px;
}