@media screen and (max-width: 64em) {
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}}
.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
}

.main-nav_height {
  line-height: 60px;
}

.main-nav__title {
  display: inline-block;
  a {
    color: #fafafa;
  }
}

.nav-clearing {
  clear: left;
}
.sub-menu {
  margin-left: 24px;
  margin-top: 12px;
}
.main-nav {
  font-family: $sans;
  background-color: $nav-bg;
  ul {padding: 0;
    padding-bottom: 12px;}
  .sub-menu {
    padding-bottom: 0;
  }
  li {
    list-style: none;
    margin: 12px 0;
    &:first-child {margin-top: 0;}
  }
} 


@media screen and (min-width: 64em) {
  .nav-clearing {clear: none;}
  .js .main-nav_toggle_js {
    position: relative;
  }
  .js .main-nav__list.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .main-nav__list {
    //clear: none;
    float: right;
    > li {
      display: inline-block;
      position: relative;
      line-height: 60px;
    }
  }

  .main-nav {
    li {margin: 0;}
    ul {padding-bottom: 0;}
    .sub-menu {
    display: none;
    position: absolute;
    z-index: 9;
    line-height: 30px;
    text-align: center;
    padding: 12px 0;
    margin: 0;
    border-radius: 4px;
    white-space: nowrap;
    padding: 6px 24px;
    background: #f9fafa;
    top: 55px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 12px;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #f9fafa;
    }
  }
}
  .menu-item-has-children:hover > .sub-menu {
    display: block;
  }
}


.masthead {
  background-image: url(img/bg.png);
  background-size: cover;
}
.masthead__tagline {
  position: absolute;
}
.masthead__location {
  line-height: 200px;
}






