@media only screen and (min-width: 64.063em) {

 }


.comment-form {
  position: relative;
  label {
    position: absolute;
    line-height: 24px;
    margin-left: 12px;
    color: $byline-grey;
  }
  .required {
    margin-left: 6px;
  }
  input[name="author"], input[name="email"], input[name="url"], textarea{
    display: block;
    border-radius: 4px;
    border: 1px solid $border-grey;
    padding: 24px 12px 6px 12px;
    margin-top: 12px;
    width: 100%;
  }

  textarea {
    max-width: 100%;
    min-height: 96px;
    margin-bottom: 12px;
  }
}

  // creates custom submit button
.form-submit{display: none;}


// Comments list styling

.comments-title {
  margin-bottom: 24px;
}
.comment-list{ 
  list-style: none;
  padding: 0;
}
.children {
  list-style: none;
}
.avatar {
  border-radius: 4px;
  border: 1px solid $border-grey;
  position: relative;
}

.says { display: none;}

.comment-meta, .comment-author {
  position: relative;

  .fn {
  font-size:12px;
  font-size: 0.75rem; 
  position: absolute;
  top: 72px;
  left: 0;
  }
}

.comment-metadata {
  position: absolute;
  top: 12px;
  left: 72px;
}

.reply, .comment-metadata {
  font-size:12px;
  font-size: 0.75rem;
}

.comment-content {
  position: relative;
  padding-left: 72px;
  top:-10px;
}

.reply {
  display: block;
  text-align: right;
  margin: 36px 0 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-grey;
}

.comment, .comment-respond {
  clear: both;
}

.bypostauthor {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 24px 24px 0;

  .reply {
    border: 0;
  }
}