// Search Form
.searchform {
  position: relative;
}
.search {
  border: 1px solid $border-grey;
  padding: 12px 60px 12px 12px;
  width: 100%;
}

.searchsubmit {
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  width: 60px;
  background-color: transparent;
  border: 0;

}

.searchform:before {
  content: '\e800';
  font-size: 1rem;
  font-family: "fontello";
  position: absolute;
  right: 24px;
  line-height: 46px;
  color: $byline-grey;
}